/* * {
	border-color: #fff;
	border-width: 1px;
	border-style: solid;
} */

html {
    background-color: #242424;
}
p, h1, div {
	color: #ffffff;
	font-family: sans-serif;
	/* text-shadow: 2px 2px 2px #000; */
}
a {
	color: #ffffff;
	text-decoration: underline;
}

table, tr, td {
	padding: 0;
	margin: 0;
}

.headertable {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 20px;
	margin-top: 20px;
}

.grid-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.grid-item {
	flex: 1;
	vertical-align: top;
    background-color: #181818;
	padding: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-width: 30rem;
	max-width: 40rem;
}

.panel {
	vertical-align: top;
    background-color: #181818c0;
	padding: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	box-shadow: 0.25rem 0.5rem 1rem #000;
	border: 1px solid #282828;
}

video {
	width: 100%;
}

.code, code {
	color: #ffffff;
	font-family: monospace;
	font-size: large;
}

.alignmiddle {
	text-align: center;
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; /* Send canvas to the back */
}

/*
* {
	border: 1px solid #fff;
	box-sizing: border-box;
}
*/